.login_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    width: 100%;
    background-color: #FFF;
    padding: 80px 20px;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}

.login_card form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    width: 70%;
}

.login_card form input {
    padding: 7px 10px;
    border-radius: 7px;
    border: 2px solid #ccc;
}

.login_card form input[type="submit"] {
    background-color: #000;
    color: #FFF;
    border: none;
    font-weight: 700;
    cursor: pointer;
    width: 30%;
}