:root {
  --bg-base: #181818;

  --header-height: 85.16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins);
}

.container {
  max-width: 95%;
  margin: 0 auto;
  width: 100%;
}

.container_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}