.header {
    background-color: var(--bg-base);
    color: #FFF;
    padding: 10px 0px;
}

.brand_nav {
    display: flex;
    gap: 50px;
    align-items: center;
}

.brand img {
    width: 30px;
    height: auto;
}

.account {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.favorite,
.favorite svg {
    width: 25px;
    height: 25px;
}